{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="content">
        <div>
            Bienvenidos al servidor web personal de Ivanska, el lugar del ciberespacio donde hago
            mis pruebas y ofrezco contenido y soporte varios a familiares y amigos.<br>
            Este sitio está en constante reforma y trabajo, así que es posible que no esté disponible
            todo el tiempo.<br><br>

            También cabe destacar que odio el desarrollo en HTML así que ni esto está muy bien, ni muy acabado, ni tengo ganas de corregir ninguna de las dos. Sé que en móvil el panel izquierdo se ve como el culo y que la web en realidad no es muy útil ahora mismo. Pero bueno. Tiempo al tiempo, supongo.
        </div><br>
        <img src={{ url_for('static', filename='internal/images/sputnik.jpeg') }} alt="Sputnik I" width="225" height=149>
        <br><br>
    </div>
    

{% endblock %}
