{% extends "base.html" %}

{% block title %}
    Filos Imperium
{% endblock %}

{% block content %}
    <div class="content">
        <div>
            Me llamo Iván, alias "Ivanska", y soy estudiante de Ingeniería Informática.<br>
            Entre mis aficiones siempre ha estado la de programar para mí y llevar a cabo mis propios
            proyectos. Spootnik, el servidor que ahora consultas, es uno de los más grandes hasta ahora.<br><br>

            Este servidor es de uso personal y para mi propio aprendizaje. De vez en cuando también proporciona
            servicios interesantes a mis conocidos, amigos y familiares; pero el objetivo último es siempre
            el de que yo experimente y haga mil locuras con él, por lo que puede sufrir profundos cambios,
            caídas, suspensiones de servicio, llegando incluso a que no vuelvas a oir sobre él en algún momento.<br><br>

            Los que me conocen saben que soy un gurú del software libre, así que todas las tecnologías relacionadas con
            este servidor así lo son, en la medida de lo posible. Por tanto, así pido que se haga un uso responsable de sus
            contenidos, respetando siempre las pautas del código libre y apelando a la responsabilidad individual y colectiva.
            También, como decía antes, soy estudiante con un presupuesto y tiempo limitados,
            por lo que esto es bastante humilde y ni de lejos se compara con un servidor empresarial, tanto en términos de
            hardware como de calidad de software. Apenas hacen poco más de dos años cuando escribí mi primer "Hello World!", al momento de
            redactar estas líneas.<br><br>

            Actualmente este servidor corre dos bots (uno de Discord y otro de Telegram) puramente personales. También proporciona
            los servicios web que se listan a la izquierda. Espero que los que hagáis uso de ellos lo disfrutéis tanto como yo
            disfruto desarrollándolos y que todo esto continúe mejorando conforme avance en mi carrera profesional.

            <br><br>
            // Desarrollo en progreso \\
        </div><br>
        <br><br>
    </div>
    

{% endblock %}
