{% extends "base.html" %}

{% block title %}
    Filos Imperium
{% endblock %}

{% block content %}
    <div class="content">
        <div>
            Esta página da acceso a servicios de Spootnik que sólo están pensados para
            personas cercanas a las que les he proporcionado una cierta clave.<br>
            Introdúcela a continuación para entrar si eres una de ellas.
            Si no, no hay mucho más que hacer aquí ¯\_(ツ)_/¯

            <br><br>
            <label><b>Contraseña</b></label><br>
            <form class="content" method="post">
                <input name="pass" type="password" required placeholder="Introduzca contraseña"><br><br>
                <input type="submit" value="Iniciar sesión">
            </form>
        </div><br>
        <br><br>
    </div>
    

{% endblock %}
