{% extends "base.html" %}

{% block title %}
    Filos Imperium
{% endblock %}

{% block content %}
    <div class="content">
        <div>
            Esta página está pensada para los alumnos de Javier, quien, personalmente, les
            ha debido de direccionar aquí.<br>
            A continuación, se muestran varios enlaces a varios de sus cursillos y presentaciones.<br>
            Selecciona el que se te haya pedido realizar, y curiosea los demás si así lo gustas. Es gratis.<br>

	    <a href="{{ url_for("residuos") }}">Residuos</a>

            <br><br>
            // Desarrollo en progreso \\
        </div><br>
        <br><br>
    </div>
    

{% endblock %}
