{% extends "base.html" %}

{% block title %}
    Filos Imperium
{% endblock %}

{% block content %}
    <div class="content">
        <div>
            Esta página recoge información útil y ordenada sobre el juego de
            rol sobre mesa Filos Imperium que estoy desarrollando.<br>
            Está pensada para ser un manual de consulta rápida (configurado
            sobre una base de datos) para los jugadores.<br><br>
            Si no eres jugador mío, puedes encontrar información interesante e
            incluso inspiradora en él, pero no esperes entender los detalles técnicos.<br>

            <br><br>
            // Desarrollo en progreso \\
        </div><br>
        <br><br>
    </div>
    

{% endblock %}
